@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500&family=Rubik:ital,wght@0,300;0,400;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rubik', sans-serif;
}

header{
    height: 101px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo > a img{
    height: 90px;
    
}

.icons-head > a img{
    height: 30px;
    margin: 5px;
    
}
.navbar{
    background-image: linear-gradient(to left, rgb(59, 205, 210), rgb(17, 55, 130));
    background-color: rgb(104, 240, 240);
    box-shadow: 0px 5px 10px 0px;
}

.nav-tot >{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone-link{
    width: 15px;
}

main{
background-color: rgb(255, 255, 255);
height: 100vh;
}


footer{
    display: flex;
    background-color: rgb(0, 1, 69);
    align-items: center;
    justify-content: center;
    height: 50px;
}

footer > p{
    margin: 0;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

footer p > a{
    margin: 0;
    text-decoration: none;
    color: rgb(199, 244, 255);
    border-radius: 2px;
}

body {
    text-align: center;
}
  
  

.Container{
    height: 150px;
    width: 250px;
    overflow-y: auto;
    background-color: green;
    border-radius: 5px;
    margin: 0 auto;
}

.Content{
    height: 200px;
    color: white;
    text-align: center;
}
  
::-webkit-scrollbar {
    width: 6px;
}


::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 5px;
}


::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
}


::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 85, 85);
}



@media(max-width:800px){
    header{
        height: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    .logo > a img{
        height: 90px;
        
    }

    .frase-head{
        display: none;
    }
}